.emtTitle {
    color: black;
    text-align: start;
}

.emtSubtitle {
    color: #D1D1D1;
    text-align: left;
}

.checkBox {
    font-weight: bold;
}

.dlBtn {
    float: inherit;
    position: relative;
}

.form-control {
    width: 90%;
    display: inline-flex;
}